.input {

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background: #3f72af;
    width: 600px;
    background-image: linear-gradient(45deg, black, transparent);
    box-shadow: 19px 2px 0px black;
    margin: 30px auto;

}

.input input {
    padding: 10px;
    border: none;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 13px;
}

.input label {
    color: white;
    font-size: 1.2rem;
    margin-top: 8px;
}

.input button {

    margin-top: 20px;
    width: 100%;

}